@model IEnumerable<Articulo>

@{
    ViewData["Title"] = "IndexCl";
}
    <br />
    <div class="container mt-5">
        <div class="row">
           @foreach (var item in Model)
            { 
               var imagen = "~/images/" + (item.Imagen ?? "pred.jpg");
                <div class="col-sm-12 col-md-5  col-lg-4">
                
                    <div class="card-group">
                        <div class="card border-dark mb-3 text-white" style="max-width: 18rem;">
                            <div class="card-header bg-dark text-sm-center">
                                <label id="lblNombre_@Html.DisplayFor(modelItem => item.Nombre)">@Html.DisplayFor(modelItem => item.Nombre)</label>
                            </div>
                            <div class="card-body text-dark">
                                <h5 class="card-title"><img src="@imagen" asp-append-version="true" style="height:150px; width:200px;"/></h5>

                                <h6>Precio:</h6>
                                <label id="lblPrecio_@Html.DisplayFor(modelItem => item.Precio)">@Html.DisplayFor(modelItem => item.Precio)</label><br />
                                <h6>Cantidad:</h6>
                                <input type="text" id="txtCantidad" /><br />
                                
                            </div>
                            <div class="card-footer text-center">
                                <input type="button" value="Agregar" class="btn btn-dark text-warning" onclick="fnAgregrar('@Html.DisplayFor(modelItem => item.ArticuloID)','@Html.DisplayFor(modelItem => item.Nombre)','@Html.DisplayFor(modelItem => item.Precio)','@Html.DisplayFor(modelItem => item.Imagen)');" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    
        
        <script>

            function fnAgregrar(ArticuloID, Nombre, Precio, Imagen) {
                var cantidad = document.getElementById("txtCantidad").value;
                if (cantidad == null || cantidad == "") {

                    $("#alerts").text("Ingrese cantidad");
                    return;
                } else {
                    $("#alerts").hide();
                }
                var odata = {
                    "Articulo": {
                        "ArticuloID": ArticuloID,
                        "Nombre": Nombre,
                        "Precio": Precio,
                        "Imagen": Imagen
                    },
                    "Cantidad": cantidad
                };
                console.log(odata);

                $.ajax({
                    type: "POST",
                    url: "DetallePedidos/Agregar",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(odata),
                    success: function (d) {
                        if (d != null || d != "") {
                            $("#lblItemCarro").text("(" + d.length + ")");

                        }
                    },
                    error: function () {

                    }
                });
            }
        </script>
