@model IEnumerable<Carrito.Models.Proveedor>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-outline-success" title="Nuevo articulo" asp-action="Create"><i class="fas fa-cart-plus"></i></a>
</p>
<table class="table table-hover table-striped table-dark">
    <thead class="text-center text-warning">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.ProveedorID"><i class="fas fa-box-open"></i></a>
                <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.ProveedorID"><i class="fas fa-info"></i></a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ProveedorID"><i class="fas fa-cart-arrow-down"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a class="btn btn-warning" asp-controller="Home" asp-action="Admin"><i class="fas fa-backspace"></i></a>
</div>